.iconButton{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
    Prevents pointer events on SVG icons
    Prevents a bug if icon is swapped out when the icon is clicked
*/
.imageHolder{
    pointer-events: none;
}