.linkContainer {
    text-align: center;
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
    border-color: transparent;
}


.link {
    font-size: 1.2rem;
    color: inherit;
    text-decoration: none;
}