.linkContainer {
    text-align: center;
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
    border-color: transparent;
}

.fancyLinkContainer {
    text-align: center;
    border: 2px solid;
    border-radius: 4px;
    padding: 8px;
    background-color: white;
}

.link {
    font-size: 1.2rem;
    text-decoration: none;
}