.flexLeft {
    display: flex;
    align-items:center;
    justify-content: left;
    flex-wrap: wrap;
    padding: 5px;
    flex: 1;
}

.flexRight {
    display: flex;
    align-items:center;
    justify-content: right;
    flex-wrap: wrap;
    padding: 5px;
    flex: 1;
}

.flexItem {
    margin: 5px;
}

.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-repeat: no-repeat;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}